/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

ul {
	list-style: none;
}

button,
input,
select,
textarea {
	margin: 0;
}

html {
	box-sizing: border-box;
	font: 16px/1.5 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
		'Arial', sans-serif, -apple-system, BlinkMacSystemFont, Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

pre,
code {
	font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Fira Mono',
		'Droid Sans Mono', 'Source Code Pro', monospace;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
	height: auto;
	max-width: 100%;
}

iframe {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
	text-align: left;
}
